*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text: #220931;
    --gray:#DCDCDC;
    --green:#10B981;
    --blue:#0075FF;
    --orange:#FF9921;
    --red:#FF5555;
    --white:#FFFFFF;
    --saphyr: #003B5B;

}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');



html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

